{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container mt-3">

        {% if news %}
        <div class="row my-5">
            <div class="d-flex flex-column col-9 border-end">
                <div class="border-bottom justify-content-center">
                    <h1 class="text-center"> {{ news.title }} </h1>
                    {% for paragraph in paragraphs %}
                        <div class="text-content">
                            <p>{{ paragraph }}</p>
                            
                        </div>
                        
                        {% if forloop.first %}
                            <img src="{{ news.image.url }}" class="img-fluid mx-auto mb-5" alt="...">
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="fw-lighter mt-3">Publicada {{ news.published_date }}</p>
                <p class="fw-lighter">Author: {{ news.author }}</p>
            </div>
            <div class="d-flex flex-column col-3 text-center">
                <a href="#" class="text-decoration-none"><h3>Mais sobre: {{ news.topic }}</h3></a>
                <div class="border-bottom justify-content-center">
                    {% if related %}
                        {% for related_news in related %}
                            <div class="card border-0 mb-3" style="width: 18rem;">
                                <a href="{% url 'news' related_news.id %}">
                                    <img src="{{ related_news.image.url }}" class="card-img-top card-img-related justify-content-center">
                                    <div class="card-body mt-2">
                                        <h5 class="card-title text-start">{{ related_news.title }}</h5>
                                        
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Ainda não há mais notícias relacionadas com {{ news.topic }}.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <h1>Notícia não encontrada! :(</h1>
        {% endif %}
    
</section>


{% endblock %}
