a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid transparent;
  color: #000000;
  font-weight: 600;
  color: #474747;
} 

.card-img-top {
    height: 250px; 
    width: 300px; 
    max-width: 300px; 
    max-height: 300px;
    object-fit: cover;

}

.card-img-related {
  height: 150px; 
    width: 100%; 
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.news-img {
  height: auto; 
  width: auto; 
  max-width: 100%; 
  object-fit: cover;
}

.ads {
  width: 100%;
  height: auto;
  max-height: 270px;

}